.form{
    background: linear-gradient(to right, rgba(2,0,36,1) 10%, rgb(11, 142, 182) 25%);
    width: 100%;
    height: 600px;
    font-size: 30px;
}
input{
    border-radius: 15px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0px;
    padding-bottom: 10px;
}

.content img{
    width: 310px;
    height: 250px;
    margin-top: 20px;
    border-radius: 15px;
}
 h3{
    margin-top: -40px;
    color: white;
    font-size: 30px;
}
.animation{
    width: 400px;
    height: 80px;
    background-color: red;
    margin: 18px auto;
}
.content1{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 0px;
    padding-bottom: 10px;
}
.content1 img{
    width: 600px;
    height: 400px;
    margin-top: 20px;
    border-radius: 15px;
}
.form img{
    width: 100%;
    height: 480px;
}
textarea{
    border-radius: 15px;
    color: rgb(78, 76, 76);
    margin-right: 10px;
}